body {
    
    margin: 0;
    line-height: inherit;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 15px;
}

/* .container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d5e1ef;
    height:100vh;
    
} */


.card{


  
    border-radius: 20px;
    background:white;
    margin: 0 auto;
   width: 16rem;
    padding:1rem;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 4px solid gray

}

.displayWindow{

    width: 200px;
    margin: 0.75rem;
    height: 7rem;
    background: white;
    text-align: right;

}

li{

    margin-bottom: 10px;
}